@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 { 
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

.h\:75 {
  height: 75vh;
}
.center{
  text-align: center;
}
.gameFront {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.gameFront > * {
  flex-basis: 100%;
  justify-self: center;
}

.start__btn {
  border: 0;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  font-weight: 400;
  cursor: pointer;
  margin-top: 2rem;
  background-color: #ffc600;
  border-radius: 2px;
}
.back__home {
  display: inline-block;
  padding-left: 3rem;
  padding-top: 1.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #1f2122;
  font-weight: 700;
}

.game {
  max-width: 600px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: -30px;
}

.mole {
  background: url("mole.svg") bottom center no-repeat;
  background-size: 60%;

  position: absolute;
  top: 90%; 
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}

.container {
  max-width: 92rem;
  padding: 0 3rem;
  margin: 0 auto;
}

header {
  padding: 2rem 0;
  border-bottom: 1px solid #a7a7a7;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 5rem;
}
.nav {
  width: 2.5rem;
}

.hero__content {
  text-align: left;
  max-width: 70ch;
}
.hero__content h1 {
  font-size: 5rem;
  line-height: 1;
}
.hero__content p {
  font-size: 1.8rem;
  margin: 2rem 0;
}

.hero__content a {
  font-weight: 700;
  color: #1f2122;
  background-color: #ffc600;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.2rem 3rem;
  display: inline-block;
}

.hero__img img {
  max-width: 100%;
}
.gameEndIn {
  margin: 1rem 0;
}

.board {
  border-radius: 2px;
  background-color: #fff;
  padding: 1.5rem 2rem;
  max-width: 30rem;
  border: 1px solid rgb(38, 46, 49);
  box-shadow: 1px 1px 0 rgb(255 255 255 / 20%);
  margin: 0 auto;
  margin-top: 5rem;
}
.board h2 {
  font-size: 2rem;
  font-weight: 400;
}
.board h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.score {
  font-weight: 700;
}

@media (max-width: 50em) {
  .hero__img {
    display: none;
  }
  html {
    font-size: 9px;
  }
}
@media (max-width: 35em) {
  html {
    font-size: 8px;
  }
  .game {
    height: 27rem;
  }
}
